<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ WEBSITE_NAME }} - Verification Failed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Email Verification Failed</h1>
        <p>Unfortunately, we were unable to automatically verify your email address. Please contact us at
            <a href="mailto:{{ WEBSITE_EMAIL }}">{{ WEBSITE_EMAIL }}</a> for assistance. Be sure to use the 
            same email address that you used to register. We apologize for the inconvenience.</p>
    </body>
</html>
